
<li class="has-sub">
	<li class="has-sub">
		<a href="javascript:;">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-align-left"></i> 
		    <span>Gestion Usuarios</span>
		</a>
		
		<ul class="sub-menu">
			<li class="has-sub">
				<a href="{% url 'usuarios:crear_usuario' %}">
		            <b class="caret pull-right"></b>
		            Crear Usuarios
		        </a>
				<ul class="sub-menu">
				</ul>
			</li>
			<li class="has-sub">
				<a href="{% url 'usuarios:listar_usuarios' %}">
		            <b class="caret pull-right"></b>
		            Ver Usuarios
		        </a>
				<ul class="sub-menu">
				</ul>
			</li>
		</ul>
	</li>
	
	
	<li class="has-sub">
		<a href="javascript:;">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-align-left"></i> 
		    <span>Gestion Eventos</span>
		</a>
		<ul class="sub-menu">
			<li class="has-sub">
				<a href="{% url 'eventos:crear_evento' %}">
		            <b class="caret pull-right"></b>Crear Evento</a>
				<ul class="sub-menu">

					
				</ul>
			
			<li class="has-sub">
				<a href="{% url 'eventos:listar_eventos' %}">
				<b class="caret pull-right"></b>Ver Eventos</a>
				<ul class="sub-menu">

				</ul>
			</li>
		</ul>
	</li>
	
	<li class="has-sub">
		<a href="javascript:;">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-align-left"></i> 
		    <span>Gestion Actividades</span>
		</a>
		<ul class="sub-menu">
			<li class="has-sub">
				<a href="{% url 'actividades:crear_actividad' %}">
		            <b class="caret pull-right"></b>
		            Crear Actividad
		        </a>
				<ul class="sub-menu">

					
				</ul>
			</li>
			<li class="has-sub">
				<a href="{% url 'actividades:listar_actividades' %}">
		            <b class="caret pull-right"></b>
		            Ver Actividades
		        </a>
				<ul class="sub-menu">

					
				</ul>
			</li>
		</ul>
	</li>
	
		<li class="has-sub">
		<a href="javascript:;">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-align-left"></i> 
		    <span>Gestion Noticias</span>
		</a>
		<ul class="sub-menu">
			<li class="has-sub">
				<a href="{% url 'noticias:crear_noticia' %}">
		            <b class="caret pull-right"></b>
		            Crear Noticia
		        </a>
				<ul class="sub-menu">

					
				</ul>
			</li>
			<li class="has-sub">
				<a href="{% url 'actividades:listar_noticias' %}">
		            <b class="caret pull-right"></b>
		            Ver Noticias
		        </a>
				<ul class="sub-menu">

					
				</ul>
			</li>
		</ul>
	</li>
	
	
	<li class="has-sub">
	</li>
					
</li>